<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header-container" th:fragment="headerFragment">
        <div class="header-backward-container">
            <div class="header-backward-image" onclick="history.back();">←</div>
        </div>
        <div class="title">
            <div class="title-name">
                <a th:href="@{/}">아무 말 대잔치</a>
            </div>
        </div>
        <div class="header-profile-container"></div>
    </div>
</body>
</html>